

.columna_izquierda{
    color: aliceblue;
    background-color: cadetblue;
    width: 35%;
    margin-left: 30px;
    margin-right: 5px;
    border: 3px solid rgb(21, 58, 59);
}
.toda_experiencia{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.titulo2{
    text-align: center;
    font-size: 30px;
}
.titulo3{
    text-align: center;
    font-size: 30px;
}
.titulo4{
    text-align: center;
    font-size: 30px;
}
.titulo5{
    text-align: center;
    font-size: 30px;
}
.nombre{
    font-size: 80px;
    text-align: center;
}
.columna_derecha{
    
    width: 60%;
    margin-right: 30px;
    margin-left: 5px;
    color: cadetblue;
}


.cuerpo{
    display: flex;
}

.datos_contactos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



h3{
    margin-left: 10px;

}
img{
    width: 20%;
}
li{
    margin-top: 20px;
}
