body{
    background-color: rgba(12, 13, 20, 0.329);
}
.titulo{
    text-align: center;
}
.columna_izquierda{
    background-color: rgb(252, 253, 250);
    width: 35%;
    margin-left: 30px;
    margin-right: 5px;
    border-radius: 15px;
}
.titulo2{
    text-align: center;
}
.titulo3{
    text-align: center;
}

.columna_derecha{
    background-color: rgb(252, 253, 250);
    width: 60%;
    margin-right: 30px;
    margin-left: 5px;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cuerpo{
    display: flex;
}

.datos_contactos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contacto{
    flex-direction: column;
    text-align: center;
    font-style: bold;
}
h3{
    margin-left: 10px;

}
img{
    width: 20%;
}
li{
    margin-top: 20px;
}
